---
import DataTable from '$components/DataTable'
import type { AsyncReturnType } from '$lib/AsyncReturnType'
import { formatIban } from '$lib/iban'
import type { AccountService } from './AccountService'

type Props = {
  account: NonNullable<AsyncReturnType<AccountService['get']>>
}

const { account } = Astro.props
---

<DataTable>
  <tr>
    <th>Description</th>
    <td>{account.description}</td>
  </tr>
  <tr>
    <th>IBAN</th>
    <td>{account.iban ? formatIban(account.iban) : '-'}</td>
  </tr>
  <tr>
    <th>Currency</th>
    <td>{account.currency}</td>
  </tr>
  <tr>
    <th>Active</th>
    <td>{account.active ? 'Yes' : 'No'}</td>
  </tr>
  <tr>
    <th>Transactions</th>
    <td>{account._count.transactions}</td>
  </tr>
</DataTable>
