---
export type Props = {
  nowrap?: boolean | undefined
}

const { nowrap = false } = Astro.props
---

<div class:list={['responsive-table-wrapper', { nowrap }]}><slot /></div>

<style is:global>
  .responsive-table-wrapper {
    max-inline-size: 100%;
    margin-block-end: 1rem;
    overflow: auto;

    &.nowrap {
      th,
      td {
        white-space: nowrap;
      }
    }
  }
</style>
