---
type Props = {
  category?:
    | {
        id: string
        description: string
      }
    | undefined
    | null
}

const { category } = Astro.props
---

{
  category ? (
    <a href={`/category/${category.id}`}>
      <slot>{category.description}</slot>
    </a>
  ) : (
    '-'
  )
}
