---
import DataTable from '$components/DataTable'
import type { AsyncReturnType } from '$lib/AsyncReturnType'
import type { CategoryService } from './CategoryService'

type Props = {
  category: NonNullable<AsyncReturnType<CategoryService['get']>>
}

const { category } = Astro.props
---

<DataTable>
  <tr>
    <th>Description</th>
    <td>{category.description}</td>
  </tr>
  <tr>
    <th>Transactions</th>
    <td>{category._count.transactions}</td>
  </tr>
</DataTable>
